.product-container {
    text-align: center;
    border: 1px solid lightgrey;
    width: 15%;
    padding: 10px;
    margin: 5px;
}

.product-image {
    width: 50%;
    height: auto;
}

.product-desc {
    text-align: center;
}

.button-container {
    width: 12%;
    position: relative;
    margin: 10px;
}

.button-group button {
    border: 1px solid black;
    padding: 10px 10px;
    float: left; /* Float the buttons side by side */
    width: 7%;
    margin: 10px;
}

.checkout-details-container {
    width: 15%;
    padding: 10px;
    margin: 5px;
}

.login-container {
    margin: auto;
    width: 15%;
    border: 3px solid black;
    padding: 30px;
    text-align: center;
}

.order-container {
    margin: auto;
    width: 30%;
    border: 2px solid black;
    padding: 30px;
    text-align: center;
}

.order-product-container {
    text-align: center;
    font-size: 15px;
    border: 1px solid lightgrey;
    width: 30%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    font-size:20px;
}

th,td{
    padding: 10px;
}

p.errors{
    color:red;
}

h1{
    margin-left: 3%;
}

input#name{
    width: 100%;
}

input#contacts{
    width: 100%;
}

textarea#comments{
    width: 100%;
}

.button {
    font: bold 15px Arial;
    background-color: #EEEEEE;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border: 1px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

input[type="submit"]{
    font: bold 15px Arial;
    background-color: #EEEEEE;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border: 1px solid black;
}

.error-message{
    color: red;
    margin-left: 5%;
    font-size: large;
}

.button-products {
    font: bold 15px Arial;
    background-color: #EEEEEE;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border: 1px solid black;
}

.status{
    color: green;
    font-size: 25px;
}

input[type="file"]{
    margin-left: 20%;
}
